.cards{
    width: 300px;
    background-color: #3b3434;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: tranform 0.1s ease-in-out;
    margin: 16px;
}

.cards:hover{
    transform: scale(1.1);
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
